In [1]:
import pandas as pd

%matplotlib inline

In [3]:
songs = pd.read_csv("song_data.csv")

In [4]:
songs.head()

,user_id,song_id,listen_count,title,artist,song
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Jack Johnson,The Cove - Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Paco De Lucia,Entre Dos Aguas - Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Kanye West,Stronger - Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,Jack Johnson,Constellations - Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,Foo Fighters,Learn To Fly - Foo Fighters

# 1. Counting unique users

In [64]:
print(f"Number of unique users: {songs.user_id.nunique():,}")

Number of unique users: 66,346

In [66]:
print(f"Number of artists: {songs.artist.nunique():,}")

Number of artists: 3,375

In [67]:
artists = ['Kanye West', 'Foo Fighters', 'Taylor Swift', 'Lady GaGa']

uniq_fans = [
    songs[songs.artist == artist]['user_id'].nunique()
    for artist in artists
]


pd.DataFrame({'artist': artists, 'uniq_fans': uniq_fans}).sort_values(by='uniq_fans')

         artist  uniq_fans
1  Foo Fighters       2055
0    Kanye West       2522
3     Lady GaGa       2928
2  Taylor Swift       3246

# 2. Using groupby-aggregate to find the most popular and least popular artist

In [70]:
songs.groupby('artist').sum().sort_values(by='listen_count')

                                   listen_count
artist
William Tabbert                              14
Reel Feelings                                24
Beyoncé feat. Bun B and Slim Thug            26
Diplo                                        30
Boggle Karaoke                               30
...                                         ...
Florence + The Machine                    33387
Coldplay                                  35362
Björk                                     38889
Dwight Yoakam                             40619
Kings Of Leon                             43218

[3375 rows x 1 columns]

* **Least popular artist**: William Tabbert

* **Most popular artist**: Kings of Lean